@model Novateca.Web.Models.BookLoan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<h2>Empréstimo de livro</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label">Usuário</label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.Username"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="BookID" class="control-label">Livro</label>
                <select asp-for="BookID" class ="form-control" asp-items="ViewBag.BookTitleMain"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="BookID" class="control-label">Livro a ser emprestado:</label>
                <select name="id" class="form-control">
                    @foreach (var livrosDisponiveis in (IEnumerable<UserBookLoans>)ViewBag.LivrosDisponiveis)
                    {
                        <option value="@livrosDisponiveis.BookID">@livrosDisponiveis.BookTitle</option>

                    }
                    <span asp-validation-for="BookID" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Emprestar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

