@model Novateca.Web.Models.BookLoan

@{
    ViewData["Title"] = "Devolution";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<h2>Devolução de empréstimo de livro</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Devolution">
            
      
            <div class="form-group">
                <label asp-for="BookID" class="control-label">Livro a ser devolvido:</label>
                <select name="id" class="form-control" asp-items="ViewBag.BookLoans"></select>
                @*@Html.DropDownList("BookLoans", (IEnumerable<SelectListItem>)ViewBag.BookLoans)*@
                <span asp-validation-for="BookID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label">Usuário:</label>
                <input asp-for="UserID" class="form-control"  />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Devolver" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
