@model Novateca.Web.Models.BookLoan

@{
    ViewData["Title"] = "Devolution";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<h2>Devolução de empréstimo de livro</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Devolution">
            <div class="form-group">
                <label asp-for="BookLoanID" class="control-label">Livro a ser devolvido:</label>
                <select name="id" class="form-control">
                    @foreach (var livrosEmprestados in (IEnumerable<UserBookLoans>)ViewBag.LivrosEmprestados)
                    {
                        <option value="@livrosEmprestados.BookLoanID">@livrosEmprestados.BookTitle</option>
                        
                    }
                    <span asp-validation-for="BookLoanID" class="text-danger"></span>
                </select>
            </div>
            <!-- mostrar aqui o usuário que pegou o livro emprestado - username e foto -->
            <!-- mostrar aqui a data de devolução prevista -->
            <!-- mostrar aqui o valor da multa caso a devolução prevista tenha passado -->
            <div class="form-group">
                <input type="submit" value="Devolver" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
