@model IEnumerable<Novateca.Web.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<div class="main">
    <h2>Seja bem-vindo ao Novateca, </h2>


</div>
