@model Novateca.Web.Models.NewspaperLoan

@{
    ViewData["Title"] = "Devolution";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<h2>Devolução de empréstimo de periódico</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Devolution">
            <div class="form-group">
                <label asp-for="NewspaperLoanID" class="control-label">Livro a ser devolvido:</label>
                <select name="id" class="form-control">
                    @foreach (var periodicosEmprestados in (IEnumerable<UserNewspaperLoans>)ViewBag.periodicosEmprestados)
                    {
                        <option value="@periodicosEmprestados.NewspaperLoanID">@periodicosEmprestados.NewspaperTitle</option>

                    }
                    <span asp-validation-for="NewspaperLoanID" class="text-danger"></span>
                </select>
            </div>
            <!-- mostrar aqui o usuário que pegou o livro emprestado - username e foto -->
            <!-- mostrar aqui a data de devolução prevista -->
            <!-- mostrar aqui o valor da multa caso a devolução prevista tenha passado -->
            <div class="form-group">
                <input type="submit" value="Devolver" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

