@model Novateca.Web.Models.NewspaperLoan

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_UserPagesLayout.cshtml";
}

<h2>Edit</h2>

<h4>NewspaperLoan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewspaperLoanID" />
            <div class="form-group">
                <label asp-for="LoanDate" class="control-label"></label>
                <input asp-for="LoanDate" class="form-control" />
                <span asp-validation-for="LoanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevolutionDate" class="control-label"></label>
                <input asp-for="DevolutionDate" class="form-control" />
                <span asp-validation-for="DevolutionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevolutionDateMade" class="control-label"></label>
                <input asp-for="DevolutionDateMade" class="form-control" />
                <span asp-validation-for="DevolutionDateMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewspaperID" class="control-label"></label>
                <select asp-for="NewspaperID" class="form-control" asp-items="ViewBag.NewspaperID"></select>
                <span asp-validation-for="NewspaperID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

