@using Microsoft.AspNetCore.Identity
@using Novateca.Web.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Seja bem-vindo @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Sair</button>
            </li>
        </ul>
    </form>
}
else
{*@
    <ul class="nav navbar-nav navbar-right" 
        style="font-family: Britannic Bold; font-size: 20px; margin-top: 2%;
               font-weight: bold;">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Entrar</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Cadastrar</a></li>
    </ul>
@*}*@
